* {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  text-shadow: none;
}
@font-face {
  font-family: 'tx';
  src: url('../font/tx.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'zt';
  src: url('../font/zt.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
}
.overwarning {
  display: none;
  z-index: 100000;
  position: absolute;
  width: 76%;
  height: 41.87%;
  left: 12%;
  top: 25%;
  background: url("../images/developer_back.png") center no-repeat;
  background-size: 100% 100%;
  border-radius: 26px;
  box-shadow: 0 8px 8px #333;
}
.overwarning .position_box {
  position: relative;
  width: 100%;
  height: 100%;
}
.overwarning .developer_title {
  width: 78.94%;
  float: left;
  margin-left: 10.53%;
  margin-top: -7.9%;
}
.overwarning .closeP {
  position: absolute;
  top: 5%;
  left: 86%;
  background: #ffd145;
  color: #fefff0;
  font-size: 17px;
  padding: 0.5%;
  border: 1px solid #fefff0;
  border-radius: 50%;
}
.overwarning .warning_img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.overwarning p {
  width: 80%;
  font-size: 15px;
  color: #faa180;
  font-family: tx;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  display: none;
}
.overwarning p span {
  font-family: tx;
  color: #8bd9e1;
}
#beginPage,
#backPage,
#gamePage,
#overPage,
#listPage {
  position: relative;
  background: url("../images/startPage_back.jpg") center no-repeat;
  background-size: 100% 100%;
}
#beginPage .copyright,
#backPage .copyright,
#gamePage .copyright,
#overPage .copyright,
#listPage .copyright {
  color: #ffb31a;
  font-size: 10px;
  text-align: center;
  width: 100%;
  padding-top: 5%;
}
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  opacity: 0.6;
  z-index: 10000;
  display: none;
}
.btn {
  width: 40.5%;
  padding: 3.2% 0;
  text-align: center;
  font-family: tx;
  color: #ffffff;
  font-size: 19px;
  box-shadow: 3px 6px #faca81;
  border-radius: 10px;
}
.o_btn {
  background: url("../images/orange_btn.png") center center no-repeat;
  background-size: 100% 100%;
  text-shadow: 0 3px #1e78e9;
}
.y_btn {
  background: url("../images/yellow_btn.png") center center no-repeat;
  background-size: 100% 100%;
  text-shadow: 0 3px #f7a81c;
}
.logo {
  float: left;
  width: 25.33%;
  margin: 2.4%;
}
#beginPage .beginImg {
  width: 86%;
  display: block;
  margin: 0 auto;
}
#beginPage #btnContainer {
  width: 100%;
  overflow: hidden;
  margin-top: 11%;
  padding-bottom: 10px;
}
#beginPage #btnContainer div {
  margin: 0 auto;
}
#beginPage #btnContainer .startBtn {
  margin-bottom: 7%;
}
.swipe_tips {
  font-size: 10px;
  width: 100%;
  text-align: center;
  position: relative;
  top: -8px;
  color: #f69c4a;
}
#backPage .copyright {
  float: left;
}
#backPage .courseList {
  list-style: none;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
}
#backPage .courseList li {
  float: left;
  width: 13.5%;
  text-align: center;
  margin-right: 3.4%;
  margin-bottom: 4.2%;
  font-family: tx;
  font-size: 14px;
  background: #ffcc00;
  border-radius: 50%;
  color: #ffffff;
  box-shadow: 0 2px 0 #faad19,1px 4px 0 #fad7b3;
}
#backPage .btnContainer {
  width: 100%;
  overflow: hidden;
  margin-top: 3%;
  padding-bottom: 15px;
  float: left;
}
#backPage .btnContainer div {
  margin: 0 auto;
}
#backPage .btnContainer .studyBtn {
  margin-bottom: 5%;
}
#backPage .Qc {
  display: block;
  float: right;
  width: 6.67%;
  padding: 3.33% 0;
  background: url("../images/developer_btn.png") center no-repeat;
  background-size: 100% 100%;
  margin: 2.4%;
  border-radius: 50%;
  box-shadow: 1.5px 1.5px 1px #9ad7d4;
}
#backPage .programerHolder {
  display: none;
  z-index: 100000;
  position: absolute;
  width: 76%;
  height: 41.87%;
  left: 12%;
  top: 25%;
  background: url("../images/developer_back.png") center no-repeat;
  background-size: 100% 100%;
  border-radius: 26px;
  box-shadow: 0 8px 8px #333;
}
#backPage .programerHolder .position_box {
  position: relative;
  width: 100%;
  height: 100%;
}
#backPage .programerHolder .developer_title {
  width: 78.94%;
  float: left;
  margin-left: 10.53%;
  margin-top: -7.9%;
}
#backPage .programerHolder .closeP {
  position: absolute;
  top: 5%;
  left: 86%;
  background: #ffd145;
  color: #fefff0;
  font-size: 17px;
  padding: 0.5%;
  border: 1px solid #fefff0;
  border-radius: 50%;
}
#backPage .programerHolder .programer {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding-top: 18%;
  width: 80%;
}
#backPage .programerHolder .programer li {
  text-align: center;
  width: 100%;
  color: #578be0;
  text-shadow: 0 0 0 #578be0;
  margin-bottom: 8%;
}
#backPage .title_container {
  width: 100%;
  float: left;
}
#backPage .title_container .background_title {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 51.46%;
}
#backPage .background_content {
  background: url("../images/background_back.png") center no-repeat;
  background-size: 100% 100%;
  width: 65%;
  float: left;
  overflow: hidden;
  margin-left: 12.5%;
  line-height: 19px;
  color: #f69c4a;
  font-size: 12px;
  padding: 6%;
  border-radius: 20px;
  box-shadow: 0 5px 5px #f9efc3;
}
#backPage .background_content .touchBar {
  width: 100%;
  height: 99%;
  overflow: hidden;
  position: relative;
  top: -6px;
}
#gamePage .swipe_tips {
  top: 7px;
  width: 100%;
}
#gamePage .courseNum {
  background: url("../images/courseNum.png") no-repeat center;
  background-size: 100% 100%;
  float: left;
  margin-top: 5%;
  height: 100px;
  width: 38.13%;
  font-family: zt;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
}
#gamePage .questionContainer {
  width: 80%;
  background: url("../images/content_back.png") center no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 26%;
  border-radius: 17px;
  box-shadow: 0 5px 3px rgba(249, 210, 145, 0.7);
  word-wrap: break-word;
  position: relative;
  overflow: hidden;
}
#gamePage .questionContainer .conversation {
  padding: 5%;
  padding-top: 10%;
}
#gamePage .questionContainer .conversation .sentenceBox {
  position: relative;
  width: 90%;
  color: #558ae0;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;
}
#gamePage .questionContainer .conversation .sentenceBox .sentences {
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  top: 0;
}
#gamePage .questionContainer .conversation .Qtitle {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  color: #f98c33;
}
#gamePage .nextBtn {
  margin: 6.5% auto;
}
#gamePage .nextBtn .time {
  font-family: tx;
  font-size: 18px;
}
#overPage .card_title {
  display: block;
  float: left;
  margin-left: 23%;
  width: 54%;
  margin-bottom: 5%;
}
#overPage .btn_container {
  width: 100%;
  float: left;
}
#overPage .btn_container div {
  margin: 0 auto;
}
#overPage .btn_container .listBtn {
  margin-bottom: 18px;
}
#overPage .copyright {
  float: left;
}
#overPage .rank_container {
  float: left;
  width: 70.87%;
  margin-left: 9.6%;
  background: url("../images/background_back.png") center no-repeat;
  background-size: 100% 100%;
  padding: 5%;
  margin-bottom: 10px;
}
#overPage .rank_container p {
  text-align: center;
  line-height: 28px;
  color: #588bde;
  font-size: 12px;
}
#overPage .rank_container p span {
  font-family: tx;
  font-size: 15px;
  color: #f98a61;
}
#overPage .rank_container .nickname {
  font-size: 16px;
  font-weight: 600;
  color: #f98a61;
}
#overPage .rank_container .cup_img {
  display: block;
  width: 44.67%;
  margin: 5% auto;
}
#listPage {
  background: linear-gradient(#a3e5e2, #faf4d4);
  position: relative;
}
#listPage .copyright {
  float: left;
}
#listPage .load_more {
  width: 100%;
  text-align: center;
  color: #cccccc;
  padding: 5% 0;
  background: #ffffff;
}
#listPage .list_container {
  width: 100%;
  position: relative;
}
#listPage .list_container .list_title {
  width: 64.67%;
  position: relative;
  left: -14%;
  top: 0;
  z-index: 100;
}
#listPage .list_container .rank_list {
  width: 84.5%;
  margin: 0 auto;
  margin-top: -15%;
  border: 10px solid #5dc2f0;
  border-bottom: 30px solid #5dc2f0;
  border-radius: 10px;
  box-shadow: 3px 2px 0 #d7e4cc;
  background: #fcf8e8;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#listPage .list_container .rank_list .user_avatar {
  width: 23.3%;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
#listPage .list_container .rank_list .nickname {
  color: #fcb103;
  text-align: center;
  margin-top: 1.2%;
  margin-bottom: 3%;
}
#listPage .list_container .rank_list .rank {
  text-align: center;
  color: #e87d60;
  font-family: tx;
}
#listPage .list_container .rank_list .rank .ranknum {
  font-family: tx;
  color: #53ccc1;
}
#listPage .list_container .rank_list .studyBtn {
  display: block;
  margin: 3% auto;
  width: 29.167%;
}
#listPage .list_container .rank_list .list_rank {
  list-style: none;
  width: 100%;
}
#listPage .list_container .rank_list .list_rank li {
  width: 90%;
  overflow: hidden;
  padding: 3% 5%;
}
#listPage .list_container .rank_list .list_rank li .list_avatar {
  border-radius: 50%;
  border: 1px solid #ffffff;
  float: left;
  width: 11.67%;
}
#listPage .list_container .rank_list .list_rank li .list_nickname {
  color: #f08b3a;
  font-size: 12px;
  float: left;
  margin-left: 5%;
  margin-top: 4%;
}
#listPage .list_container .rank_list .list_rank li .list_ranknum {
  font-family: tx;
  font-size: 14px;
  float: right;
  margin-right: 4.5%;
  padding: 2% 0;
  color: #fc932b;
}
#listPage .list_container .rank_list .list_rank li .medal {
  float: right;
  width: 12.5%;
  margin-top: 1%;
}
@media (max-width: 330px) {
  #backPage .background_content {
    font-size: 9px;
  }
  #backPage .programerHolder .programer li {
    font-size: 11px !important;
  }
  #gamePage .questionContainer .conversation div {
    font-size: 11px;
  }
  .overwarning .warning_img {
    width: 42%;
  }
}
